
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Swarming
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131201

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<!--Head Tags-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--Table Styling-->
    <link rel="stylesheet" href="~/Content/css/style.css" />

    <!--Styling from Swarming-->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="~/Content/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/fonts.css" rel="stylesheet" type="text/css" media="all" />

    <!--Custom Style Sheet-->
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" media="all"/>

        
    <!--Internet Explorer 6 Functionality for Swarming-->
    <link href="default_ie6.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <!--Swarming Logo-->
    <div id="logo">
        <h1><a href="#" class="icon icon-group"><span>Hotel Reservation System</span></a></h1>
    </div>

    <!--Swarming Nav Content-->
    <div id="header">
        <div id="menu" class="container">
            <ul>
                <li><a href="@Url.Action("Index", "Home")" accesskey="1" title="">Homepage</a></li>
                <li><a href="@Url.Action("Index", "Locations")" accesskey="1" title="">Locations</a></li>
                <li><a href="@Url.Action("Index", "OwnerAssets")" accesskey="2" title="">Assets</a></li>
                <li><a href="@Url.Action("Index", "Reservations")" accesskey="3" title="">Reservations</a></li>
                <li><a href="@Url.Action("Index", "UserDetails")" accesskey="4" title="">User Details</a></li>
                <li><a href="@Url.Action("Contact", "Home")" accesskey="5" title="">Contact Us</a></li> 
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>

    @RenderBody()

    <!--Swarming Footer Content-->
    <div id="copyright" class="container">
        <p>&copy; 2021 Mack Jones | Swarming Template by Template ID  | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. All Rights Reserved.</p>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
